@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Lora&display=swap');

* {
  padding: none;
  margin: none;
  text-decoration: none;
}

body {
  width: "100%";
  background-color: #1c1c1a;
  font-family: 'Lora';
}

/* Componente Cadastro e Login e Quem somos*/
input {
  display: flex;
  flex-direction: row;
  border: none;
  height: 20px;
  width: 300px;
  padding-left: 5px;
  margin-bottom: 20px;
  font-family: 'Lora';
}

.botao1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 147px;
  height: 33px;
  color: burlywood;
  border: none;
  background-color: #1c1c1a;
  cursor: pointer;
  font-family: 'Lora';
  box-shadow: 4px 7px 5px rgb(140, 115, 82);
}
.botao1:hover {
  background-color: black;
  color: rgb(140, 115, 82);
}

.centralizar {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  font-family: 'Lora';
}
.centralizar p {
  font-family: 'Lora';
  color: #1c1c1a;
}

.formulario {
  background-color: #d2b48d;
  width: 806px;
  height: 500px;
  font-family: 'Lora';
}
.LogoUnivesp {
  margin-top: 20px;
  height: 80px;
}

/* Barra de navegação*/
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 100px;
  height: 70px;
  border-bottom: 4px solid #ae7c3d;
  font-family: 'Cinzel';
  font-size: 24px;
}

.logo {
  font-family: 'Cinzel';
  font-size: 20px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;

}

.logoLink {
  text-decoration: none;
  color: #ae7c3d;
}

.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.menu-icon {
  color: rgb(255, 255, 255);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav a:hover {
  color: rgb(85, 85, 85);
}

@media screen and (max-width: 768px) {
  
  .logo {
    display: block;
  }

  .header-container {
    display:flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .menu-button {
    display: block;
  }

  .nav-items {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    top: 5.1rem;
    z-index: 1;
  }

  .nav-items.open {
    display: block;
  }

  .nav-items ul {
    flex-direction: column;
    align-items: center;
  }

  .nav-items li {
    margin-bottom: 10px;
  }
}

/* cadastro/edição +... dos livros*/
.NovoRegistro {
  font-family: 'Lora';
  color:black;
  margin-top: 10px;
}
.CadastroLivros {
  top: 10rem;
  right: 7rem;
  background-color: #AE7C3D;
  width: 815px;
  height: 450px;
  padding-left: 10px;
  padding-top: 0px;
}
.PesquisarLivros {
  overflow-y: auto;
  max-height: 450px;
  top: 10rem;
  right: 7rem;
  background-color: #AE7C3D;
  height: 450px;
  padding-left: 10px;
  padding-top: 0px;
}

.CadLivrosLateralesq {
    width: 350px;
  }.CadLivrosLateralesq input {
    height: 25px;
    margin-left: 10px;
  }.CadLivrosLateralesq span {
    margin-left: 10px;
  }
  
.CadLivrosLateraldir {
    width: 200px;    
  }.CadLivrosLateraldir input {
    width: 150px;
    height: 25px;
  }.CadLivrosLateraldir tr {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    font-size: 12px;
    font-weight:none;
    font-family: 'Lora';
  }

.botao2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 147px;
  height: 33px;
  color: #AE7C3D;
  border: none;
  background-color: #1c1c1a;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Lora';
  box-shadow: 4px 7px 5px #825e33;
}
.botao2:hover {
  background-color: black;
  color:#6a4e2b;
}
.BotaoEditar {
  display: flex;
  flex-direction: row;
  justify-content:center;
  font-family: 'Lora';
}.BotaoEditar button {
  margin-left: 20px;
}

/* menu*/

.Menu ul{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1150px;
  justify-content:space-between;
}
.Menu  ul li{
  font-family: 'Lora';
  font-size: 24px;
  margin-right: 10px;
  color:#ffffff;
}
.Buscar {
  display: flex;
  color: #ffffff;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: row;
}.Buscar input  {
  margin-top: 20px;
  margin-left: 5px;
}

/*Lista de livros Cadastrados*/

.LivrosCadastrados {
  display:flex;
  flex-direction: column;
  top: 10rem;
  right: 60.5rem;
  height: 450px;
  width: 300px;
  padding: none;
  align-content: flex-start;
  background-color: #AE7C3D;
  margin-right: 23px;
  font-family: 'Lora';
}.LivrosCadastrados .CabecarioLivros {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: #1c1c1a 5px solid;
  font-family: 'Lora';
}.LivrosCadastrados .CabecarioLivros h2 {
  display: flex;
  color: black;
  margin-bottom: 5px;
  align-self: self-end;
  font-family: 'Lora';
}

.LivrosCadastrados .ListaLivros {
  display: flex;
  overflow-y: scroll;
  background-color: #AE7C3D;
}
.LivrosCadastrados .ListaLivros tr p {
  display: flex;
  flex-direction: row;
  padding: 5px;
  color: black;
  font-family: 'Lora';
}

/*Lista de empréstimos*/

.DadosEmprestimos {
  top: 10rem;
  right: 7rem;
  background-color: #AE7C3D;
  width: 815px;
  height: 450px;
  padding-left: 10px;
  padding-top: 20px;
  overflow-y: scroll;
  border-bottom: #AE7C3D solid 5px ;
  font-family: 'Lora';
}

.CabecarioEmprestimos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Lora';
}

.CabecarioEmprestimos p {
  color: black;
  font-weight: 600;
  font-size: 19px;
  cursor: pointer;
  font-family: 'Lora';
}

.CabecarioEmprestimos p:hover {
  text-decoration: underline;
}

.DadosEmprestimos div {
  width: 100%;
  padding: 0px;
  font-family: 'Lora';
}
.ListaEmprestimos tr td{
  width: 160px;

  background-color: #ffffff;
  text-align: center;
  font-family: 'Lora';
}

/*tabela trilhas*/


.DadosTrilha table {
  width: 100%;
  padding: 0px;
  font-family: 'Lora';
}

.ListaTrilha tr {
  background-color: #ffffff;
  text-align: center;
  font-family: 'Lora';
  justify-content: center;
}

.ListaTrilha td{
  background-color: #ffffff;
  text-align: center;
  font-family: 'Lora';
  justify-content: center;
}

.BotaoLegal {
  width: 300px;
  background-color: #000000;
  text-align: center;
  font-family: 'Lora';
  justify-content: center;
}

.Listatrilha tr td{
  width: 197px;

  background-color: #ffffff;
  text-align: center;
  font-family: 'Lora';
}