* {
  padding: none;
  margin: none;
  text-decoration: none;
}

body {
  width: "100%";
  background-color: #1c1c1a;
}

/* Componente Cadastro e Login e Quem somos*/
input {
  display: flex;
  flex-direction: row;
  border: none;
  height: 20px;
  width: 300px;
  padding-left: 5px;
  margin-bottom: 20px;
}

.botao1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 147px;
  height: 33px;
  color: burlywood;
  border: none;
  background-color: #1c1c1a;
  cursor: pointer;
}
.botao1:hover {
  background-color: black;
}

.centralizar {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.formulario {
  position: absolute;
  top: 4.6rem;
  right: 1.5rem;
  background-color: #d2b48d;
  width: 806px;
  height: 500px;
}

/* Barra de navegação*/
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 100px;
  height: 70px;
  border-bottom: 4px solid #ae7c3d;
  font-family: Cinzel;
  font-size: 24px;
}

.logo {
  color: #ae7c3d;
  font-family: Cinzel;
  font-size: 24px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;

}

.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.menu-icon {
  color: rgb(255, 255, 255);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav a:hover {
  color: rgb(85, 85, 85);
}

@media screen and (max-width: 768px) {
  
  .logo {
    display: block;
  }

  .header-container {
    display:flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .menu-button {
    display: block;
  }

  .nav-items {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    top: 5.1rem;
    z-index: 1;
  }

  .nav-items.open {
    display: block;
  }

  .nav-items ul {
    flex-direction: column;
    align-items: center;
  }

  .nav-items li {
    margin-bottom: 10px;
  }
}

/* cadastro/edição +... dos livros*/
.NovoRegistro {
  display: flex;
  font-family: Lora;
  color:black;
  margin-bottom: 10px;
}
.CadastroLivros {
  position: absolute;
  padding-left: 30px;
  top: 10rem;
  right: 7rem;
  background-color: #AE7C3D;
  width: 815px;
  height: 450px;
  position: fixed;
}
.resumo {
  display: flex;
  border: none;
  margin-bottom: 20px;
}.resumo textarea {
  padding: 5px;
  height: 100px;
  width: 786px;
}

.CadLivrosLateralesq {
    width: 350px;
  }.CadLivrosLateralesq input {
    height: 25px;
  }
  
.CadLivrosLateraldir {
    width: 200px;    
  }.CadLivrosLateraldir input {
    width: 150px;
    height: 25px;
  }.CadLivrosLateraldir tr {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    font-size: 12px;
    font-weight:none;
  }

.botao2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 147px;
  height: 33px;
  color: #AE7C3D;
  border: none;
  background-color: #1c1c1a;
}
.botao2:hover {
  background-color: black;
}
.BotaoEditar {
  display: flex;
  flex-direction: row;
  justify-content:center;
}.BotaoEditar button {
  margin-left: 20px;
}

/* menu*/

.Menu {
  display: flex;
  position: absolute;
  background-color: #1c1c1a;
  top: 5rem;
  right: 7rem;
  width: 1150px;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
.Menu table tr td a{
  font-family: Lora;
  font-size: 24px;
  margin-right: 10px;
  color:#ffffff;
  font-weight: bold;

}
.Buscar {
  display: flex;
  color: #ffffff;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: row;
}.Buscar input  {
  margin-top: 20px;
  margin-left: 5px;
}

/*Lista de livros Cadastrados*/

.LivrosCadastrados {
  display:flex;
  position: absolute;
  flex-direction: column;
  top: 10rem;
  right: 60.5rem;
  height: 450px;
  width: 290px;
  padding: none;
  align-content: flex-start;
  background-color: #AE7C3D;
}.LivrosCadastrados .CabecarioLivros {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: #1c1c1a 5px solid;
}.LivrosCadastrados .CabecarioLivros h2 {
  display: flex;
  color: black;
  margin-bottom: 5px;
  align-self: self-end;
}


.LivrosCadastrados .ListaLivros {
  display: flex;
  overflow-y: scroll;
  background-color: #AE7C3D;
}
.LivrosCadastrados .ListaLivros tr p {
  display: flex;
  flex-direction: row;
  padding: 5px;
  color: black;
}